   :root {
    --bg: #f6f5e9;
    --text-main: #1c1c1c;
    --text-muted: #555;
   }
   .logo {
    font-family: "Gideon Roman", sans-serif;
    margin: 0;
   
   }
    header {
        display: flex;
        align-items: center; /*vertical alignment*/
        justify-content: space-between; /* pushes logo to left and nav to right */
        padding: 1rem 2rem;
    }
   nav {
        background: var(--bg);
        padding: 1rem;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 0;
        padding: 0;
    }
    nav a {
        text-decoration: none;
        color: var(--text-main);
        font-weight: bold;
    }
  
   body {
        background: var(--bg);
        color: var(--text-main);
        font-family: "consolas", sans-serif;
        line-height: 1.7;
    }
    h1 {
        font-family: "Monoton";
        font-weight: normal;  /* stop browser from holding it */
        font-size: 4rem;      /* dispay scale */
        letter-spacing: 0.2em; /* lets the inner lines breathe*/
        text-transform: uppercase; /* matches preview intent */
        line-height: 1.2; /* tighter vertical rhythm */
        text-align: center;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
        padding: 2 rem 1.5rem;
    }
    .posts {
        margin-top: 4rem;
    }
    .featured-poem {
        text-align: center;
    }
    .tagline {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        text-align: center;
    }
    .post-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
        border-bottom: 1px solid #ddd;
        width: 100%;
    }
    .post-content {
        flex: 1;
    }
    .post-content h2 {
        font-family: "Gideon Roman", serif; /* or body font */
        font-size: 1.15rem;
        line-height: 1;
        margin: 0 0 0.5rem 0;
    }
    .post-preview {
       color: #555;
       font-size: 1rem;
       line-height: 1.3;
       text-align: left;
       overflow: hidden;
       display: -webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;

    }
    .post-meta {
        font-size: 0.9rem;
        margin-top: 0.8rem;
        color: #777;
    }
    .post-image img {
        width: 160px;
        height: 110px;
        object-fit: cover;
        border-radius: 6px;
    }